@media only screen  and (max-width: 600px){
    .site-content{
        padding-top: 0;
    }
    .site-pusher{
        transition-duration: 0.3s;
        transform: translateX(0);
    }
    .header{
        position:static;
    }
    .header__icon{
        display: block;
        position:relative;
        float: left;
        width: 60px;
        height: 66px;
        cursor: pointer;
        opacity:0.7;
        transition: opacity .5s ;
        background: $header-icon-bg;
        &:after{
            content: '';
            position: absolute;
            top:24px;
            left:18px ;
            right: 0;
            display: block;
            width: 25px;
            height: 16px;
            background:linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%, #fff 100%);
        }


    }
    .header__icon:hover{
        opacity:1;
    }
    .menu{
        // display:none;
        position: absolute;
        width: $menu-width;
        top:0;
        right:0;
        bottom: 0;
        left:0;
        transform: translateX($menu-width * -1);
        background-color: $header-darken-bg;
        transition-duration: 1s;
        a{
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-bottom: 1px solid  $header-darken-bg;
            opacity:0.3;
            transition: opacity 0.3s ;
        }
        a:hover{
            opacity:1;
        }

    }

    .with-sidebar{
        // .menu{transform: translateX(0);}
        .site-pusher{
            transform: translateX($menu-width);
        }
    }
}